<h1>Created Quizzes</h1>
<p>Dare to try a one?</p>
<% @quiz.each do |quiz| %>
  <p><%= quiz.name %>
    <%= link_to "Show", quiz %>
  </p>
<% end %>

<%= link_to "#{current_user.name}'s Profile", profile_path %>

<%= link_to "Log out", logout_path, method: :delete %>
