<h1>Quiz Box</h1>
<h1>A quiz game with different categories of quizzes</h1>
<p></p>

<h2><%= link_to 'See the Quiz list', controller: 'quizzes' %></h2>
<p></p>
<div class="nav">
	<h4><%= link_to "Log in", login_path %></h4>
	<h4><%= link_to "Sign up", signup_path %></h4>
</div>